.twSearchHidden {
    display: none;
}

/* native <dialog> element uses the ::backdrop pseudo-element */
/* dialog::backdrop, */
.twSearchDialogBackdrop {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000; /* Beaver Builder theme's flyout mobile nav is set to z-index 999999! */
}

.twSearchDialogBackdrop.active {
    display: block;
}

.no-scroll {
    overflow-y: auto !important;
}

/* this is added to the body when a dialog is open */
.has-dialog {
    overflow: hidden;
}

.twSearchPopup {
    z-index: 1000001; /* Beaver Builder theme's flyout mobile nav is set to z-index 999999! */
}

.twSearchBg-dark {
    background-color: rgba(0, 0, 0, .8);
}

.twSearchBg-light {
    background-color: rgba(255, 255, 255, .8);
}


.twSearchBg-dark label {
    color: #ffffff;
}

.twSearchBg-light label {
    color: #333333;
}

.twSearchFormWrapper {
    display: block;
    margin: 7em 4em;
    position: relative;
    /*right: -100%;*/
}

.twSearchForm {
    position: relative;
}

.twSearchForm .twSearchBox {
    outline: none;
    border-color: #dad6d5;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 5px 20px;
    color: #333333;
    font-size: 30px;
    line-height: 1.6;
    height: auto;
}

.twSearchForm .twSearchBox:focus::-webkit-input-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:focus::-moz-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:-ms-input-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:focus:-moz-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:focus {
    outline:none;
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 5px  #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
}

.twSearchForm label {
    position: absolute;
    left: -9999px;
}

.twSearchFormControls {
}

.twSearchForm .twSearchClose,
.twSearchForm .twSearchClose:focus,
.twSearchForm .twSearchClose:active {
    font-size: 30px;
    margin-top: 10px;
    position: absolute;
    right: 140px;
    line-height: 1.2;
    top: auto;
}

.twSearchForm .twSearchClose:focus {
    outline:none;
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 5px  #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
}

.twSearchForm .twSearchButton,
.twSearchForm .twSearchButton:focus,
.twSearchForm .twSearchButton:active {
    font-size: 30px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    line-height: 1.2;
    top: auto;
}

.twSearchForm .twSearchButton:focus {
    outline:none;
    border:1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 5px  #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
}

.twSearchBoxDesc {
    padding: 10px;
}

.twSearchFormWrapper-dark .twSearchBoxDesc {
    color: #ffffff;
}

.twSearchFormWrapper-light .twSearchBoxDesc {
    color: #333333;
}

@media screen and (max-width: 600px) {
    .twSearchFormWrapper {
        margin: 7em 2em;
    }

    .twSearchForm .twSearchClose,
    .twSearchForm .twSearchClose:focus,
    .twSearchForm .twSearchClose:active {
        font-size: 20px;
        right: 100px;
    }

    .twSearchForm .twSearchButton,
    .twSearchForm .twSearchButton:focus,
    .twSearchForm .twSearchButton:active {
        font-size: 20px;
    }

    .twSearchBoxDesc {
        display: none;
    }
}

.twSearchIcon,
.twSearchIcon:hover,
.twSearchIcon:active,
.twSearchIcon:visited {
    background: transparent;
    border: none;
}
